<h2>[COVID19]Le taux d'incidence des plus de 65 ans est en baisse....</h2>

<img src="issue-citation-screenshot.png"></img>
<iframe src="https://germain-forestier.info/covid/incidence.html#incid/Metropoles_65">
</iframe><iframe src="https://actu.fr/grand-est/strasbourg_67482/covid-19-le-taux-d-incidence-baisse-a-strasbourg-et-dans-le-bas-rhin_37400828.html"></iframe>
<span>[ ] accord de l'auteur·e pour la conversion en notebook reproductible</span>
<div>Problématique : quelle est l'évolution du taux d'incidence auprès des plus de 65 ans, à la mi-novembre par rapport à fin octobre ?</div>
<iframe width="50%" height="600px" src="https://mybinder.org/v2/gl/jibe-b%2Feco-colocations-analysis/master?urlpath=lab%2Ftree%2Findex.ipynb">
</iframe>(ou nbviewer)<a href="https://gitpod.io/#https://gitlab.com/jibe-b/derivations/tree/master/1/index.ipynb"><button>Gitpod</button></a>
